* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: rgb(18, 18, 18);
    cursor: none;
}

.cursor {
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    z-index: 100;
    &--large {
        --size: 40px;
        border: 1px solid rgb(255, 60, 60);
    }
    &--small {
        --size: 8px;
        background: rgb(255, 60, 60);
        transform: translate(-50%, -50%);
    }
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    button {
        --size: 60px;
        border: none;
        min-width: var(--size);
        min-height: var(--size);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        background: rgba(255, 255, 255, 0.08);
        color: #fff;
        transition: background 200ms ease, color 200ms ease;
        cursor: none;
    }
    &:hover {
        button {
            background: rgba(255, 255, 255, 0.04);
            color: rgba(255, 255, 255, 0.04);
            &:hover {
                color: #fff;
            }
        }
    }
}

.support {
    position: absolute;
    right: 10px;
    bottom: 10px;
    padding: 10px;
    display: flex;
    a {
        margin: 0 10px;
        color: #fff;
        font-size: 1.8rem;
        backface-visibility: hidden;
        transition: all 150ms ease;
        &:hover {
            transform: scale(1.1);
        }
    }
}
